name: "Build & Test"
on:
  workflow_call:
defaults:
  run:
    shell: bash

jobs:

  build-docker:
    name: "Build Docker image"
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
          version: latest
      
      - name: Configure Docker image metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.IMAGE_NAME }}
            registry.digitalocean.com/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=raw,value=staging-latest
            type=sha,format=long
      
      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: docker/Dockerfile
          platforms: linux/amd64
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save staging Docker image
        run: docker save ${{ env.IMAGE_NAME }} > did-resolver-staging.tar

      - name: Upload build image as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: did-resolver-staging
          path: did-resolver-staging.tar
